$blue: #6537F5;
$blueLight: #6772E5;
$white: #ffffff;
$navy: #141224;
$navyDark: #080618;
$blueDark: #161234;
$navyGray: #181627;
$navyLight: #393957;
$gray: #8E8EA6;
$grayLight: #E6E6E6;
$redLight: #EE502E;
$purple: #825CF7;
