<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>

    <link rel="stylesheet" href="../../static/dist/css/fontello.css">
    <link rel="stylesheet" href="../../static/dist/css/main.css">

    <style type="text/css">
        .iti__flag {
            background-image: url("../../static/dist/images/flags.png");
        }

        .about-events__bubbles-item {
            background-image: url(../../static/dist/images/logos-bubble.png);
        }
    </style>
</head>
<body>
<header class="header auth">
    <div class="container">
        <div class="header__box">
            <div class="header__humb js-header-hamb">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header__box-left js-mob-menu-box">
                <div class="header__mob-menu-close js-header-mob-menu-close">скрыть</div>
                <div class="header__logo">
                    <img src="../../static/dist/images/logo.svg" alt="">
                    <img src="../../static/dist/images/logo-txt.svg" alt="">
                </div>
                <div class="header__auth-menu">
                    <div class="header__auth-menu-avatar">
                        <img src="https://s3.eu-central-1.amazonaws.com/bookimed/doctor/5acf60db7db8b_b.jpeg" alt="">
                        <i class="ic-down"></i>
                    </div>
                    <nav class="header__nav auth">
                        <div class="header__nav-item">
                            <span class="ic-login"></span>
                            <a href="#" class="header__nav-link ic-right">Мой профиль</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-right-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Сделать депозит</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-left-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Вывести средства</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-history"></span>
                            <a href="#" class="header__nav-link ic-right">История ставок</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-exit"></span>
                            <a href="#" class="header__nav-link ic-right">Выйти из системы</a>
                        </div>
                    </nav>
                </div>
                <nav class="header__nav">
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Киберспорт</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="about.html" class="header__nav-link ic-right">О нас</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="partners.html" class="header__nav-link ic-right">Партнерам</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="support.html" class="header__nav-link ic-right">Поддержка</a>
                    </div>
                    <div class="header__nav-item active">
                        <a href="contacts.html" class="header__nav-link ic-right">Контакты</a>
                    </div>
                </nav>
            </div>
            <div class="header__box-right">
                <div class="header__lang">
                    <div class="header__lang-current">
                        <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-current-img">
                        <i class="ic-down"></i>
                    </div>
                    <div class="header__lang-list">
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">Русский</span>
                        </a>
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/usa.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">English</span>
                        </a>
                    </div>
                </div>
                <div class="header__time-zone">
                    <div class="header__time-zone-current js-header-time-zone-current">
                        <span>2 июль , 20:03 GMT+3</span>
                        <i class="ic-down"></i>
                    </div>
                    <div class="header__time-zone-list js-header-time-zone-list">
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                    </div>
                </div>
                <button class="button button_sm button_login">Войти</button>
                <button class="button button_sm button_registr">Регистрация</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="about-head">
        <div class="container">
            <h1 class="about-head__title">Хватит смотреть - присоединяйся!</h1>
            <div class="about-head__descr">Alfakasta — это социальная платформа для ставок на киберспорт, где игроки соревнуются друг с другом.</div>
        </div>
        <div class="about-head__video">
            <div class="about-head__video-box">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/taD9hqwCb1o?autoplay=1" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section class="about-events">
        <div class="container">
            <h2 class="about-events__title">Все топовые события</h2>
            <div class="about-events__descr">Наша платформа охватывает почти все популярные игры, включая: League of Legends, CS:GO, Dota 2, Overwatch</div>
        </div>
        <div class="about-events__bubbles-wrap">
            <div class="about-events__bubbles-list js-events-bubbles"></div>
        </div>
    </section>
    <section class="about-community">
        <div class="container">
            <h2 class="about-community__title">Свое Альфа сообщество</h2>
            <div class="about-community__descr">Теперь, у миллионов фанатов киберспорта есть место, где они могут соперничать друг с другом, делая ставки на любимые
                киберспортивные команды.</div>
        </div>
        <div class="about-community__photos js-about-community-gallery">
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-1.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-2.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-3.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-4.jpeg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-5.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-6.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-7.jpeg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-8.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-9.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-10.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-11.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-12.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-13.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-14.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-15.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-16.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-17.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-18.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-36.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-20.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-21.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-22.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-23.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-24.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-25.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-26.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-27.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-28.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-29.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-30.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-31.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-32.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-33.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-34.jpg" alt="" class="about-community__photos-img">
            </div>
            <div class="about-community__photos-item">
                <div class="about-community__photos-info">
                    <img src="../../static/dist/images/about-photos-icon.svg" alt="" class="about-community__photos-info-icon">
                    <span class="about-community__photos-info-name">Данило Б.</span>
                </div>
                <img src="../../static/dist/images/avatars/avatar-35.jpg" alt="" class="about-community__photos-img">
            </div>
        </div>
    </section>
    <section class="about-numbers">
        <div class="container">
            <h2 class="about-numbers__title">Только быстрые и честные выплаты</h2>
            <div class="about-numbers__descr">Теперь, у миллионов фанатов киберспорта есть место, где они могут соперничать друг с другом, делая ставки на любимые
                киберспортивные команды.</div>
            <div class="about-numbers__list">
                <div class="about-numbers__item">
                    <span class="about-numbers__item-title">0.29 сек</span>
                    <span class="about-numbers__item-descr">Среднеее время начисления выиграша</span>
                </div>
                <div class="about-numbers__item">
                    <span class="about-numbers__item-title">$ 10</span>
                    <span class="about-numbers__item-descr">Сумма с которой можно выводить средства</span>
                </div>
                <div class="about-numbers__item">
                    <span class="about-numbers__item-title">98.74%</span>
                    <span class="about-numbers__item-descr">Уровень удовлетворенности игроков</span>
                </div>
            </div>
        </div>
    </section>
    <section class="about-help">
        <div class="container">
            <h3 class="about-help__title">Нужна помощь?</h3>
            <div class="about-help__descr">Мы готовы ответить на любые вопросы.</div>
            <div class="about-help__contact-card">
                <div class="contact-card gray">
                    <a href="#" class="contact-card__link js-callback-popup-open">
                        <img src="../../static/dist/images/contact-card.png" alt="" class="contact-card__img">
                        <span class="contact-card__link-txt">Написать</span>
                    </a>
                    <div class="contact-card__position">Менеджер тех. поддержки</div>
                    <div class="contact-card__name">Антон Владченко</div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="container">
        <div class="footer__top-content">
            <div class="footer__partners-left">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/paysafe.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/neteller.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/skrill.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/visa.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/master-card.svg" alt="" class="footer__partners-img">
                </div>
            </div>
            <div class="footer__partners-right">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/police.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/gaming-curacao.svg" alt="" class="footer__partners-img">
                </div>
            </div>
        </div>
        <div class="footer__bottom-content">
            <div class="footer__menu">
                <div class="footer__menu-title">Ставки</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Counter-Strike</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Dota 2</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">League of Legends </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Overwatch</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Компания</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Партнерская программа</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Информация</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Поддержка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Пользовательское соглашение</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Конфиденциальность</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Контакты</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="mailto:support@alfakasta.com" class="footer__menu-link ">
                            <i class="far fa-envelope"></i>
                            support@alfakasta.com
                        </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="tel:+372 (59) 25 34 25" class="footer__menu-link">
                            <i class="fas fa-phone-alt"></i>
                            +372 (59) 25 34 25
                        </a>
                    </li>
                </ul>
                <div class="footer__menu-contact-icon">
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/telegram.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/viber.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/whatsapp.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-social">
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-facebook"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-insta"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-youtube"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-telega"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__add-info">Alfakasta.com is licensed by the government of Curacao under the License 8048 / JAZ2013-013 issued for the provision of esports betting and casino.</div>
    </div>
</footer>

<div class="callback-popup js-callback-popup">
    <div class="callback-popup__box">
        <div class="callback-popup__close js-callback-popup-close"></div>
        <form class="contact-form">
            <input type="text" class="contact-form__input" placeholder="Ваше имя">
            <input type="text" class="contact-form__input" placeholder="Электронная почта">
            <textarea class="contact-form__textarea" placeholder="Задайте свой вопрос"></textarea>
            <button class="button button_md button_contact-form">Отправить обращение</button>
        </form>
    </div>
</div>

</body>
<script src="../../static/dist/js/noise.js"></script>
<script src="../../static/dist/js/main.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</html>