<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Partners</title>

    <link rel="stylesheet" href="../../static/dist/css/fontello.css">
    <link rel="stylesheet" href="../../static/dist/css/main.css">

    <style type="text/css">
        .iti__flag {background-image: url("../../images/flags.png");}
    </style>
</head>
<body>
<header class="header auth">
    <div class="container">
        <div class="header__box">
            <div class="header__humb js-header-hamb">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header__box-left js-mob-menu-box">
                <div class="header__mob-menu-close js-header-mob-menu-close">скрыть</div>
                <div class="header__logo">
                    <img src="../../static/dist/images/logo.svg" alt="">
                    <img src="../../static/dist/images/logo-txt.svg" alt="">
                </div>
                <div class="header__auth-menu">
                    <div class="header__auth-menu-avatar">
                        <img src="https://s3.eu-central-1.amazonaws.com/bookimed/doctor/5acf60db7db8b_b.jpeg" alt="">
                        <i class="ic-down"></i>
                    </div>
                    <nav class="header__nav auth">
                        <div class="header__nav-item">
                            <span class="ic-login"></span>
                            <a href="#" class="header__nav-link ic-right">Мой профиль</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-right-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Сделать депозит</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-right-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Вывести средства</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-history"></span>
                            <a href="#" class="header__nav-link ic-right">История ставок</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-exit"></span>
                            <a href="#" class="header__nav-link ic-right">Выйти из системы</a>
                        </div>
                    </nav>
                </div>
                <nav class="header__nav">
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Киберспорт</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">О нас</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Партнерам</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Поддержка</a>
                    </div>
                    <div class="header__nav-item active">
                        <a href="#" class="header__nav-link ic-right">Контакты</a>
                    </div>
                </nav>
            </div>
            <div class="header__box-right">
                <div class="header__lang">
                    <div class="header__lang-current">
                        <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-current-img">
                        <i class="ic-down"></i>
                    </div>
                    <div class="header__lang-list">
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">Русский</span>
                        </a>
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/usa.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">English</span>
                        </a>
                    </div>
                </div>
                 <div class="header__time-zone">
                     <div class="header__time-zone-current js-header-time-zone-current">
                         <span>2 июль , 20:03 GMT+3</span>
                         <i class="ic-down"></i>
                     </div>
                     <div class="header__time-zone-list js-header-time-zone-list">
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                         <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                     </div>
                 </div>
                <button class="button button_sm button_login">Войти</button>
                <button class="button button_sm button_registr">Регистрация</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="partners-head">
        <div class="container">
            <div class="partners-head__box">
                <h1 class="partners-head__title">Начни зарабатывать с Alfakasta</h1>
                <div class="partners-head__descr">Привлекаяй игроков в Alfakasta и получай до 20% дохода</div>
                <button class="button button_md partners-head__btn">СТАТЬ ПАРТНЕРОМ</button>
            </div>
        </div>
    </section>
    <section class="partners-how">
        <div class="container">
            <div class="partners-how__box">
                <h2 class="partners-how__title">Как стать партнером</h2>
                <div class="partners-how__steps">
                    <div class="partners-how__steps-item">
                        <div class="partners-how__steps-img-box">
                            <img src="../../static/dist/images/partners-how-1.svg" alt="" class="partners-how__steps-img">
                        </div>
                        <div class="partners-how__steps-title">Заполни анкету</div>
                        <div class="partners-how__steps-descr">Это займет не более минуты. Нужно только контакты и ссылку на твое сообщество.</div>
                    </div>
                    <div class="partners-how__steps-item">
                        <div class="partners-how__steps-img-box">
                            <img src="../../static/dist/images/partners-how-2.svg" alt="" class="partners-how__steps-img">
                        </div>
                        <div class="partners-how__steps-title">Получи ссылку</div>
                        <div class="partners-how__steps-descr">Получите ссылку для отслеживания и начните делиться ею со своим сообществом.</div>
                    </div>
                    <div class="partners-how__steps-item">
                        <div class="partners-how__steps-img-box">
                            <img src="../../static/dist/images/partners-how-3.svg" alt="" class="partners-how__steps-img">
                        </div>
                        <div class="partners-how__steps-title">Зарабатывай</div>
                        <div class="partners-how__steps-descr">Получайте до 20% дохода с каждого игрока</div>
                        <a href="#" class="partners-how__steps-link">Начать</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="partners-faq">
        <div class="container">
            <div class="partners-faq__box">
                <h2 class="partners-faq__title">FAQ</h2>
                <div class="partners-faq__list">
                    <div class="partners-faq__item">
                        <div class="partners-faq__item-question">Сколько можно заработать?</div>
                        <div class="partners-faq__item-answer">
                            <p class="partners-faq__item-answer-txt">Все наши аффилиаты получают от 5 до 20 процентов от суммы ставки игроков, которые пришли на платформу по партнёрской ссылке.</p>
                            <p class="partners-faq__item-answer-txt selected">Пример: если привлеченный тобой игрок сыграл на сумму $300 , твой доход состовит $60</p>
                        </div>
                    </div>
                    <div class="partners-faq__item">
                        <div class="partners-faq__item-question">От чего зависит процент дохода? </div>
                        <div class="partners-faq__item-answer">
                            <p class="partners-faq__item-answer-txt">Процент дохода напрямую зависит от количества привлеченных игроков. Чем больше игроков, тем выше процент. Таблица рассчета:</p>
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>Привлеченные игроки</td>
                                    <td>Доход с игрока</td>
                                </tr>
                                <tr>
                                    <td>1 - 10</td>
                                    <td>5%</td>
                                </tr>
                                <tr>
                                    <td>10 - 100</td>
                                    <td>10%</td>
                                </tr>
                                <tr>
                                    <td>100 - 500</td>
                                    <td>15%</td>
                                </tr>
                                <tr>
                                    <td>500+</td>
                                    <td>20%</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="partners-faq__item">
                        <div class="partners-faq__item-question">Как долго я получаю доход с игрока?</div>
                        <div class="partners-faq__item-answer">
                            <p class="partners-faq__item-answer-txt">Это зависит не от времени, а от количества ставок. Партнер получает доход с первых 3х ставок игрока. После этого, чтобы заработать еще, нужно привлечь новых игроков.</p>
                        </div>
                    </div>
                </div>
                <div class="partners-faq__callback">
                    <div class="partners-faq__callback-title">Остались вопросы?</div>
                    <button class="button partners-faq__callback-btn">Остались вопросы?</button>
                </div>
            </div>
        </div>
    </section>
    <section class="partners-form">
        <div class="container">
            <div class="partners-form__box">
                <h2 class="partners-form__title">Заполни анкету партнера</h2>
                <form class="contact-form">
                    <input type="text" class="contact-form__input" placeholder="Ваше имя">
                    <input type="text" class="contact-form__input" placeholder="Электронная почта">
                    <input type="tel" id="phone" class="contact-form__input" placeholder="">
                    <input type="text" class="contact-form__input" placeholder="Ссылка на твое сообщество (блог, профиль в соц. сети)">
                    <textarea class="contact-form__textarea" placeholder="Напиши почему именно ты будешь отличным партнером для Alfakasa"></textarea>
                    <button class="button button_md button_contact-form">Отправить обращение</button>
                </form>
                <div class="partners-form__contact-card">
                    <div class="contact-card gray">
                        <a href="#" class="contact-card__link">
                            <img src="https://s3.eu-central-1.amazonaws.com/bookimed/doctor/5acf60db7db8b_b.jpeg" alt="" class="contact-card__img">
                            <span class="contact-card__link-txt">Написать</span>
                        </a>
                        <div class="contact-card__position">Менеджер тех. поддержки </div>
                        <div class="contact-card__name">Антон Владченко</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer">
    <div class="container">
        <div class="footer__top-content">
            <div class="footer__partners-left">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/paysafe.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/neteller.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/skrill.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/visa.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/master-card.svg" alt="" class="footer__partners-img">
                </div>
            </div>
            <div class="footer__partners-right">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/police.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/gaming-curacao.svg" alt="" class="footer__partners-img">
                </div>
            </div>
        </div>
        <div class="footer__bottom-content">
            <div class="footer__menu">
                <div class="footer__menu-title">Ставки</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Counter-Strike</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Dota 2</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">League of Legends </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Hearthstone</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">StarCraft</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Overwatch</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Heroes</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Компания</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Партнерская программа</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Информация</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Поддержка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Пользовательское соглашение</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Конфиденциальность</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Контакты</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="mailto:support@alfakasta.com" class="footer__menu-link ">
                            <i class="far fa-envelope"></i>
                            support@alfakasta.com
                        </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="tel:+372 (59) 25 34 25" class="footer__menu-link">
                            <i class="fas fa-phone-alt"></i>
                            +372 (59) 25 34 25
                        </a>
                    </li>
                </ul>
                <div class="footer__menu-contact-icon">
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/telegram.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/viber.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/whatsapp.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-social">
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-facebook"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-insta"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-youtube"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-telega"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="../../static/dist/js/main.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</html>