<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Support</title>

    <link rel="stylesheet" href="../../static/dist/css/fontello.css">
    <link rel="stylesheet" href="../../static/dist/css/main.css">

    <style type="text/css">
        .iti__flag {
            background-image: url("../../static/dist/images/flags.png");
        }
    </style>
</head>
<body>
<header class="header auth not-fixed">
    <div class="container">
        <div class="header__box">
            <div class="header__humb js-header-hamb">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="header__box-left js-mob-menu-box">
                <div class="header__mob-menu-close js-header-mob-menu-close">скрыть</div>
                <div class="header__logo">
                    <img src="../../static/dist/images/logo.svg" alt="">
                    <img src="../../static/dist/images/logo-txt.svg" alt="">
                </div>
                <div class="header__auth-menu">
                    <div class="header__auth-menu-avatar">
                        <img src="https://s3.eu-central-1.amazonaws.com/bookimed/doctor/5acf60db7db8b_b.jpeg" alt="">
                        <i class="ic-down"></i>
                    </div>
                    <nav class="header__nav auth">
                        <div class="header__nav-item">
                            <span class="ic-login"></span>
                            <a href="#" class="header__nav-link ic-right">Мой профиль</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-right-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Сделать депозит</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-right-arrow"></span>
                            <a href="#" class="header__nav-link ic-right">Вывести средства</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-history"></span>
                            <a href="#" class="header__nav-link ic-right">История ставок</a>
                        </div>
                        <div class="header__nav-item">
                            <span class="ic-exit"></span>
                            <a href="#" class="header__nav-link ic-right">Выйти из системы</a>
                        </div>
                    </nav>
                </div>
                <nav class="header__nav">
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Киберспорт</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">О нас</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Партнерам</a>
                    </div>
                    <div class="header__nav-item">
                        <a href="#" class="header__nav-link ic-right">Поддержка</a>
                    </div>
                    <div class="header__nav-item active">
                        <a href="#" class="header__nav-link ic-right">Контакты</a>
                    </div>
                </nav>
            </div>
            <div class="header__box-right">
                <div class="header__lang">
                    <div class="header__lang-current">
                        <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-current-img">
                        <i class="ic-down"></i>
                    </div>
                    <div class="header__lang-list">
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/rus.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">Русский</span>
                        </a>
                        <a href="#" class="header__lang-item">
                            <img src="../../static/dist/images/usa.svg" alt="" class="header__lang-img">
                            <span class="header__lang-title">English</span>
                        </a>
                    </div>
                </div>
                <div class="header__time-zone">
                    <div class="header__time-zone-current js-header-time-zone-current">
                        <span>2 июль , 20:03 GMT+3</span>
                        <i class="ic-down"></i>
                    </div>
                    <div class="header__time-zone-list js-header-time-zone-list">
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                        <a href="#" class="header__time-zone-item">2 июль , 20:03 GMT+3</a>
                    </div>
                </div>
                <button class="button button_sm button_login">Войти</button>
                <button class="button button_sm button_registr">Регистрация</button>
            </div>
        </div>
    </div>
</header>
<main>
    <section class="support-head">
        <div class="container">
            <div class="support-head__box" style="background-image: url(../../static/dist/images/support.svg);">
                <h1 class="support-head__title">Как мы можем вам помочь?</h1>
                <form action="" class="support-head__search">
                    <input type="text" class="support-head__search-input" placeholder="search">
                    <img src="../../static/dist/images/search.svg" alt="" class="support-head__search-icon">
                </form>
                <div class="support-head__last-request">
                    <span class="support-head__last-request-title">Недавно спрашивали:</span>
                    <a href="#" class="support-head__last-request-link">можно ли вносить депозит в скинах? </a>
                </div>
            </div>
        </div>
    </section>
    <section class="support-questions">
        <div class="container">
            <div class="support-questions__box">
                <div class="support-questions__nav">
                    <div class="support-questions__nav-box js-support-questions-nav">
                        <div class="support-questions__nav-about">
                            <a href="#support-1" class="support-questions__nav-head active js-ancor-link">O нас</a>

                            <a href="#support-1" class="support-questions__nav-about-link js-ancor-link">Что такое
                                Alfakasta</a>
                            <a href="#support-2" class="support-questions__nav-about-link js-ancor-link">Как работает
                                сервис</a>
                            <a href="#support-3" class="support-questions__nav-about-link js-ancor-link">Я могу делать
                                ставки если мне нет 18 лет</a>

                            <a href="#support-4" class="support-questions__nav-about-link js-ancor-link">Что такое
                                Alfakasta 2</a>
                            <a href="#support-5" class="support-questions__nav-about-link js-ancor-link">Как работает
                                сервис 2</a>
                            <a href="#support-6" class="support-questions__nav-about-link js-ancor-link">Я могу делать
                                ставки если мне нет 18 лет 2</a>
                        </div>
                        <a href="#support-user" class="support-questions__nav-head open js-ancor-link">Пользовательское
                            соглашение</a>
                        <a href="#support-privacy" class="support-questions__nav-head open js-ancor-link">Конфиденциальность</a>
                    </div>
                </div>
                <div class="support-questions__content ">
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-1">Что такое Alfakasta?</div>
                        <div class="support-questions__item-descr">Alfakasta - это социальная платформа для ставок на
                            киберспорта, где игроки делают ставки играя друг против друга. На Alfakasta можно всегда
                            просто и быстро сделать ставку. Наш процесс выплат максимально прозрачный. Наша платформа
                            охватывает почти все популярные игры, включая: League of Legends, CS:GO, Dota 2, Overwatch.
                            Как лицензированная организация, мы предоставляем легальное и безопасное окружение с честной
                            системой ставок, которая предлагает вам просто отдохнуть и наслаждаться игрой.
                        </div>
                    </div>

                    <div class="support-questions__callback-wrap">
                        <div class="support-questions__callback js-support-question-callback">
                            <img src="../../static/dist/images/support-logo.svg"
                                 class="support-questions__callback-img">
                            <div class="support-questions__callback-box">
                                <span class="support-questions__callback-title">Остались вопросы?</span>
                                <button class="button support-questions__callback-btn">Написать нам</button>
                            </div>
                        </div>
                    </div>

                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-2">Как работает сервис?</div>
                        <div class="support-questions__item-descr">В Альфакаста игроки соревнуются против друг друга, а
                            не против букмекера.
                            Все ставки создаются исключительно игроками, самостоятельно. В Альфакаста игроки соревнуются
                            против друг друга, а не против букмекера с коеффициент выиграша 80% независимо от события и
                            выбранного исхода.
                            Чтобы ставка стала активной, в ней должны принять участия два игрока. Выигрыш начисляется
                            победителю по факту наступления даты события, на которое было сделано ставку.
                        </div>
                    </div>
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-3">Я могу делать ставки если мне нет 18
                            лет?
                        </div>
                        <div class="support-questions__item-descr">Нет. Согласно правилам сервиса, а также в
                            соответствии с законодательством большинства стран, делать ставки могут лица, достигшие
                            18 лет. При регистрации вы подтверждаете, что ваш возраст больше 18 лет. В случае, если
                            у нас будут подозрения или информация о том, что вам нет 18 лет, ваш аккаунт будет
                            заблокирован до достижения совершеннолетия или до предоставления доказательств
                            достижения совершеннолетия.
                        </div>
                    </div>
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-4">Что такое Alfakasta? 2</div>
                        <div class="support-questions__item-descr">Alfakasta - это социальная платформа для ставок на
                            киберспорта, где игроки делают ставки играя друг против друга. На Alfakasta можно всегда
                            просто и быстро сделать ставку. Наш процесс выплат максимально прозрачный. Наша платформа
                            охватывает почти все популярные игры, включая: League of Legends, CS:GO, Dota 2, Overwatch.
                            Как лицензированная организация, мы предоставляем легальное и безопасное окружение с честной
                            системой ставок, которая предлагает вам просто отдохнуть и наслаждаться игрой.
                        </div>
                    </div>
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-5">Как работает сервис? 2</div>
                        <div class="support-questions__item-descr">В Альфакаста игроки соревнуются против друг друга, а
                            не против букмекера.
                            Все ставки создаются исключительно игроками, самостоятельно. В Альфакаста игроки соревнуются
                            против друг друга, а не против букмекера с коеффициент выиграша 80% независимо от события и
                            выбранного исхода.
                            Чтобы ставка стала активной, в ней должны принять участия два игрока. Выигрыш начисляется
                            победителю по факту наступления даты события, на которое было сделано ставку.
                        </div>
                    </div>
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-6">Я могу делать ставки если мне нет 18
                            лет? 2
                        </div>
                        <div class="support-questions__item-descr">Нет. Согласно правилам сервиса, а также в
                            соответствии с законодательством большинства стран, делать ставки могут лица, достигшие
                            18 лет. При регистрации вы подтверждаете, что ваш возраст больше 18 лет. В случае, если
                            у нас будут подозрения или информация о том, что вам нет 18 лет, ваш аккаунт будет
                            заблокирован до достижения совершеннолетия или до предоставления доказательств
                            достижения совершеннолетия.
                        </div>
                    </div>

                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-user">Пользовательское соглашение
                        </div>
                        <div class="support-questions__item-descr">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Adipisci alias architecto assumenda, atque beatae commodi cumque delectus dignissimos
                            dolor dolore est exercitationem iste itaque, nisi odio quod similique, sit suscipit unde
                            voluptates. Aspernatur assumenda consequatur doloremque eveniet explicabo illum itaque
                            laborum modi neque nihil, odio porro quam quidem quos repellendus repudiandae totam!
                            Accusamus alias aliquid architecto assumenda at autem commodi consectetur culpa debitis
                            deleniti dignissimos distinctio dolorem doloremque eaque earum enim est expedita explicabo
                            fugiat illo impedit ipsam iusto laudantium magnam maxime molestias mollitia nam nemo nobis
                            nostrum provident quae quia quibusdam quis reiciendis, temporibus vero. Amet quasi velit
                            vitae.
                        </div>
                    </div>
                    <div class="support-questions__item">
                        <div class="support-questions__item-title" id="support-privacy">Конфиденциальность
                        </div>
                        <div class="support-questions__item-descr">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Adipisci aperiam deleniti dignissimos dolorem doloribus dolorum eius eveniet illum
                            ipsum minima neque nobis nulla numquam odio quaerat quia reiciendis repudiandae, rerum sit
                            tempore, totam ullam vel voluptates! Cupiditate iusto, molestiae optio quidem quod ratione
                            sequi velit veritatis. Commodi enim expedita nostrum, officiis quaerat ratione recusandae!
                            Accusantium aperiam, beatae consequatur culpa deleniti distinctio ducimus incidunt itaque
                            laboriosam modi necessitatibus officia pariatur praesentium reiciendis sint sunt unde.
                            Animi, aperiam beatae doloremque et eveniet facere facilis illum iusto laboriosam, libero
                            nihil numquam, repellendus suscipit? Doloremque enim harum, labore laboriosam minima nihil
                            quis tempora? Dicta.
                        </div>
                    </div>
                </div>
            </div>
    </section>
</main>

<footer class="footer">
    <div class="container">
        <div class="footer__top-content">
            <div class="footer__partners-left">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/paysafe.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/neteller.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/skrill.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/visa.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/master-card.svg" alt="" class="footer__partners-img">
                </div>
            </div>
            <div class="footer__partners-right">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/police.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/gaming-curacao.svg" alt="" class="footer__partners-img">
                </div>
            </div>
        </div>
        <div class="footer__bottom-content">
            <div class="footer__menu">
                <div class="footer__menu-title">Ставки</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Counter-Strike</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Dota 2</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">League of Legends </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Hearthstone</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">StarCraft</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Overwatch</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Heroes</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Компания</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Партнерская программа</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Информация</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Поддержка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Пользовательское соглашение</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Конфиденциальность</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Контакты</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="mailto:support@alfakasta.com" class="footer__menu-link ">
                            <i class="far fa-envelope"></i>
                            support@alfakasta.com
                        </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="tel:+372 (59) 25 34 25" class="footer__menu-link">
                            <i class="fas fa-phone-alt"></i>
                            +372 (59) 25 34 25
                        </a>
                    </li>
                </ul>
                <div class="footer__menu-contact-icon">
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/telegram.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/viber.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/whatsapp.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-social">
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-facebook"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-insta"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-youtube"></i>
                    </a>
                    <a href="#" class="footer__menu-social-link">
                        <i class="footer__menu-social-icon ic-telega"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
<script src="../../static/dist/js/main.js"></script>
<script src="http://localhost:35729/livereload.js"></script>
</html>