.partners {
  &-head {
    padding: 56px 0 48px;
    background-color: $blue;

    &__box {
      max-width: 845px;
      margin: 0 auto;
      text-align: center;
      color: $white;
    }

    &__title {
      font-weight: bold;
      font-size: 36px;
      line-height: 45px;
      letter-spacing: -0.9px;
      margin-bottom: 16px;

      @include from-sm {
        font-size: 60px;
        line-height: 75px;
        margin-bottom: 24px;
      }
    }

    &__descr {
      font-size: 20px;
      line-height: 25px;
      letter-spacing: -0.48px;
      max-width: 435px;
      margin: 0 auto 32px;

      @include from-sm {
        font-size: 22px;
        line-height: 28px;
      }
    }

    &__btn {
      max-width: 226px;
      margin: 0 auto;
      background: $navyLight;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
      font-size: 17px;
      line-height: 23px;
      letter-spacing: 0.5px;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
  &-how {
    background-color: $grayLighter;
    color: $blueDark;
    padding: 48px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);

    @include from-sm {
      padding: 72px 0;
    }

    &__box {

    }

    &__title {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.9px;
      margin-bottom: 48px;

      @include from-sm {
        margin-bottom: 95px;
        font-size: 54px;
        line-height: 68px;
      }
    }

    &__steps {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include from-sm {
        flex-direction: row;
        justify-content: space-between;
      }

      &-item {
        max-width: 314px;
        text-align: center;
        margin: 0 auto;
        padding: 0 10px;

        @include to-sm {
          &:not(:last-child) {
            margin-bottom: 48px;
          }
        }
      }

      &-img-box {
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 25px;
      }

      &-img {
        max-height: 100px;
      }

      &-title {
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;
        letter-spacing: -0.48px;
        margin-bottom: 16px;
      }

      &-descr {
        font-size: 18px;
        line-height: 23px;
        letter-spacing: -0.48px;
      }

      &-link {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.48px;
        color: $blue;
        margin-top: 3px;
        display: block;
      }
    }
  }
  &-faq {
    background-color: $grayLighter;
    padding: 48px 0;

    @include from-sm {
      padding: 72px 0;
    }

    &__box {
      max-width: 720px;
      margin: 0 auto;
    }

    &__title {
      text-align: center;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: -0.9px;
      margin-bottom: 40px;

      @include from-sm {
        margin-bottom: 56px;
        font-size: 60px;
        line-height: 75px;
      }
    }

    &__item {
      padding-bottom: 24px;
      margin-bottom: 24px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);

      &-question {
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 8px;

        @include from-sm {
          font-weight: bold;
          font-size: 26px;
          line-height: 33px;
        }
      }

      &-answer {
        font-size: 16px;
        line-height: 22px;

        &-txt {
          margin-bottom: 10px;
        }

        &-txt.selected {
          padding: 5px 12px;
          background-color: $grayLight;
          border-radius: 6px;
        }

        .table {
          margin-top: 16px;
        }
      }
    }

    &__callback {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include from-sm {
        justify-content: flex-start;
        padding-left: 115px;
      }

      &-title {
        font-size: 16px;
        line-height: 20px;
        color: $gray;
        margin-right: 10px;

        @include from-sm {
          margin-right: 24px;
        }
      }

      &-btn {
        max-width: 170px;
        height: 43px;
        color: $purple;
        border: 2px solid $purple;
        background-color: transparent;
      }
    }
  }
  &-form {
    background-color: #0F0F1F;
    padding: 48px 0;

    @include from-sm {
      padding: 72px 0;
    }

    &__box {
    }

    &__title {
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      text-align: center;
      letter-spacing: -0.9px;
      color: $white;
      margin-bottom: 40px;

      @include from-sm {
        margin-bottom: 56px;
        font-size: 60px;
        line-height: 75px;
      }
    }

    &__contact-card {
      margin-top: 48px;

      @include from-sm {
        margin-top: 72px;
      }
    }
  }
}