.contact-card {
  width: 100%;
  max-width: 230px;
  text-align: center;
  margin: 0 auto;
  color: $white;

  &.gray {
    color: $gray;

    .contact-card__img {
      background-color: #541eb8;
    }
  }

  &__link {
    position: relative;
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto 24px;
    border-radius: 50%;

    &:hover {
      .contact-card__link-txt {
        opacity: 1;
        visibility: visible;
        z-index: 1;
        transition: all 0.25s;
      }
    }

    &-txt {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      opacity: 0;
      visibility: hidden;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: $white;
      background: rgba(130, 92, 247, 0.9);
      transition: all 0.25s;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    display: block;
    background-color: #334691;
  }

  &__position {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.48px;
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.48px;
  }
}