FOOTER

<footer class="footer">
    <div class="container">
        <div class="footer__top-content">
            <div class="footer__partners-left">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/paysafe.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/neteller.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/skrill.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/visa.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/master-card.svg" alt="" class="footer__partners-img">
                </div>
            </div>
            <div class="footer__partners-right">
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/police.svg" alt="" class="footer__partners-img">
                </div>
                <div class="footer__partners-item">
                    <img src="../../static/dist/images/gaming-curacao.svg" alt="" class="footer__partners-img">
                </div>
            </div>
        </div>
        <div class="footer__bottom-content">
            <div class="footer__menu">
                <div class="footer__menu-title">Ставки</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Counter-Strike</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Dota 2</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">League of Legends </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Overwatch</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Компания</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">О нас</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Партнерская программа</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Контакты</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Новости</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Информация</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Поддержка</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Пользовательское соглашение</a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="#" class="footer__menu-link">Конфиденциальность</a>
                    </li>
                </ul>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-title">Контакты</div>
                <ul class="footer__menu-list">
                    <li class="footer__menu-item">
                        <a href="mailto:support@alfakasta.com" class="footer__menu-link ">
                            <i class="far fa-envelope"></i>
                            support@alfakasta.com
                        </a>
                    </li>
                    <li class="footer__menu-item">
                        <a href="tel:+372 (59) 25 34 25" class="footer__menu-link">
                            <i class="fas fa-phone-alt"></i>
                            +372 (59) 25 34 25
                        </a>
                    </li>
                </ul>
                <div class="footer__menu-contact-icon">
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/telegram.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/viber.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                    <a href="#" class="footer__menu-contact-icon-item">
                        <img src="../../static/dist/images/whatsapp.svg" alt="" class="footer__menu-contact-icon-img">
                    </a>
                </div>
            </div>
            <div class="footer__menu">
                <div class="footer__menu-social">
                    <a href="https://www.facebook.com/AlfakastaSupport/" class="footer__menu-social-link" target="_blank">
                        <i class="footer__menu-social-icon ic-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/alfakasta/" class="footer__menu-social-link" target="_blank">
                        <i class="footer__menu-social-icon ic-insta"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCDy53jvR_th9QqkXy_HOn7Q" class="footer__menu-social-link" target="_blank">
                        <i class="footer__menu-social-icon ic-youtube"></i>
                    </a>
                    <a href="https://t.me/Alfakasta_com" class="footer__menu-social-link" target="_blank">
                        <i class="footer__menu-social-icon ic-telega"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="footer__add-info">Alfakasta.com is licensed by the government of Curacao under the License 8048 / JAZ2013-013 issued for the provision of esports betting and casino.</div>
    </div>
</footer>

<script src="/static/dist/js/main.js"></script>
